* text=auto !eol
/.classpath -text
/.project -text
.settings/.jsdtscope -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text
.settings/org.eclipse.wst.jsdt.ui.superType.container -text
.settings/org.eclipse.wst.jsdt.ui.superType.name -text
.settings/org.eclipse.wst.validation.prefs -text
WebContent/CreativeWork/CreativeWork.jsp -text
WebContent/CreativeWork/CreativeWorkList.jsp -text
WebContent/Organization/Organization.jsp -text
WebContent/Organization/OrganizationList.jsp -text
WebContent/Person/Person.jsp -text
WebContent/Person/PersonList.jsp -text
WebContent/Place/Place.jsp -text
WebContent/Place/PlaceList.jsp -text
WebContent/WEB-INF/lib/java-cup-0.11a-beta-20060608-runtime.jar -text
WebContent/classHierarchy.jsp -text
WebContent/classList.jsp -text
WebContent/footer.jsp -text
WebContent/header.jsp -text
WebContent/images/bullet-l1.gif -text
WebContent/index.jsp -text
WebContent/menu.jsp -text
WebContent/resources/style.css -text
WebContent/search.jsp -text
WebContent/utility/sparqlDump.jsp -text
/pom.xml -text
